* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 1059px;
  height: 706px;
  background-color: #f4c7ff;
  margin: 50px auto;
}

.smallbox {
  width: 325px;
  height: 325px;
  padding: 8px;
  margin: 14px;
  border: 3px solid #2a92e7;
  background-color: #f4c7ff;
  float: left;
  text-align: center;
  align-content: center;
}

p {
  color: #2a92e7;
  font-size: 32px;
  font-weight: bold;
}